In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df_untouched = pd.read_csv('C:\\Users\\ac29019\\Documents\\py-data\\digit-recognizer\\train.csv')
df_untouched.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
df = df_untouched

In [4]:
X_train = df.drop('label', axis='columns')

In [5]:
y_train = df.label

In [6]:
X_train = X_train.values

In [8]:
X_train = X_train/255

In [9]:
from keras.models import Sequential
from keras.layers import Conv2D, MaxPooling2D, Dense, Flatten, Dropout
from keras.optimizers import Adam

Using TensorFlow backend.

In [10]:
X_train.shape

(42000, 784)

In [11]:
y_train.shape

(42000,)

In [13]:
X_train = X_train.reshape(X_train.shape[0], 28, 28, 1)

In [14]:
X_train.shape

(42000, 28, 28, 1)

In [16]:
X_train[0].shape

(28, 28, 1)

In [18]:
sorted(y_train.unique())

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [21]:
model1 = Sequential()
model1.add(Conv2D(64,(3,3), input_shape=(28,28,1), activation='relu'))
model1.add(MaxPooling2D(pool_size=(2,2)))
model1.add(Flatten())
model1.add(Dense(units=700, activation='relu'))
model1.add(Dense(units=700, activation='relu'))
model1.add(Dense(units=10, activation='sigmoid'))
model1.compile(loss='sparse_categorical_crossentropy', optimizer=Adam(lr=0.001), metrics=['accuracy'])

In [ ]:
history_model1 = model1.fit(X_train, y_train, epochs=100, batch_size=512,validation_split=0.3, verbose=1)

In [29]:
model1.evaluate(X_train, y_train)

42000/42000 [==============================] - 22s 517us/step

[0.020791759120395433, 0.996404767036438]

In [25]:
model2 = Sequential()
model2.add(Conv2D(128,(3,3), input_shape=(28,28,1), activation='relu'))
model2.add(MaxPooling2D(pool_size=(4,4)))
model2.add(Flatten())
model2.add(Dense(units=700, activation='relu'))
model2.add(Dense(units=700, activation='relu'))
model2.add(Dense(units=10, activation='sigmoid'))
model2.compile(loss='sparse_categorical_crossentropy', optimizer=Adam(lr=0.001), metrics=['accuracy'])

In [ ]:
history_model2 = model2.fit(X_train, y_train, epochs=100, batch_size=512,validation_split=0.3, verbose=1)

In [30]:
model2.evaluate(X_train, y_train)

42000/42000 [==============================] - 16s 379us/step

[0.01722631361176103, 0.9965237975120544]

In [27]:
model3 = Sequential()
model3.add(Conv2D(64,(3,3), input_shape=(28,28,1), activation='relu'))
model3.add(MaxPooling2D(pool_size=(4,4)))
model3.add(Flatten())
model3.add(Dense(units=700, activation='relu'))
model3.add(Dense(units=700, activation='relu'))
model3.add(Dense(units=10, activation='sigmoid'))
model3.compile(loss='sparse_categorical_crossentropy', optimizer=Adam(lr=0.001), metrics=['accuracy'])

In [ ]:
history_model3 = model3.fit(X_train, y_train, epochs=100, batch_size=512,validation_split=0.3, verbose=1)

In [31]:
model3.evaluate(X_train, y_train)

42000/42000 [==============================] - 10s 243us/step

[0.017465237911210265, 0.9968095421791077]

In [33]:
df_test = pd.read_csv('C:\\Users\\ac29019\\Documents\\py-data\\digit-recognizer\\test.csv')
df_test.head()

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [80]:
X_test = df_test.values.reshape(df_test.shape[0], 28, 28, 1)

In [81]:
X_test[0].shape

(28, 28, 1)

In [82]:
X_test = X_test/255

In [83]:
y_pred = model3.predict(X_test)

In [84]:
def prepare_df_for_kaggle_submission(y_predicted):
    y_result = [x.argmax() for x in y_predicted]
    submission_dict = {'ImageId':np.arange(1,28001).tolist(), "Label":y_result}
    submission_df = pd.DataFrame(submission_dict)
    return submission_df;

In [87]:
submission_df3 = prepare_df_for_kaggle_submission(y_pred)
submission_df3.to_csv('model3_kaggle_submission_df.csv',index=False)
# model3 got 0.98742 score in kaggle

In [85]:
y_pred2 = model2.predict(X_test)
submission_df2 = prepare_df_for_kaggle_submission(y_pred2)
submission_df2.to_csv('model2_kaggle_submission_df.csv',index=False)
# model3 got 0.98642 score in kaggle

In [86]:
y_pred1 = model1.predict(X_test)
submission_df1 = prepare_df_for_kaggle_submission(y_pred1)
submission_df1.to_csv('model1_kaggle_submission_df.csv',index=False)
# model3 got 0.98557 score in kaggle

In [88]:
model3.save('model_mnist_digits.h5')

#### **Best model here is model3**

model3 = Sequential()
model3.add(Conv2D(64,(3,3), input_shape=(28,28,1), activation='relu'))
model3.add(MaxPooling2D(pool_size=(4,4)))
model3.add(Flatten())
model3.add(Dense(units=700, activation='relu'))
model3.add(Dense(units=700, activation='relu'))
model3.add(Dense(units=10, activation='sigmoid'))
model3.compile(loss='sparse_categorical_crossentropy', optimizer=Adam(lr=0.001), metrics=['accuracy'])